@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
       
        
        header{
            
            background-color: white;
        }
        .nav--2{
            
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .navbar__principal{
            margin-top: 5%;
            display: block;
            display: flex;
            justify-content: space-around;
           
            width: 70%;
        }
        main{
            margin-bottom: 20px;
        }
        .bg--gradient{
            background-color:#F7F7F7;
        }

        .navbar__logo{
            width: 5vh;
            height:5vh;
            background-image: url(/images/Logo-Dorado.png);
            background-size: cover;
        }
        .navbar__titulo{
            white-space: nowrap;
            font-size: 15pt;
            font-family: 'Oswald', sans-serif;
        }

        .navbar__icono{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            
        }
        .navbar__collapse{
            width: 100%;
        }
        .boton--borderless{
            border: 0;
            background-color: white;
            width: 50px;
            height: 50px;
            &:hover{
                background-color: 	#e4e1d8;
            }
        }

        .boton__ul--borderless{
            border: 0;
            background-color: #F7F7F7;
            width: 30px;
            height: 30px;
            &:hover{
                background-color: 	white;
            }
        }

        .section1{
        position: relative;
        width: 100%;
        }
        .article__1-bg{
            width: 100%;
            height: 50vh;
            background-image: url("../images/Licenses.jpg");
            background-size: 100% 100%;
           
            opacity: 0.5;

        }
        .article1__label-titulo{
            position: absolute;
            top: 5%;
        
            left: 25%;
            width: 50%;
            
        }

        .article1_titulo{
            font-size: 4rem;
            text-align: center;
        }
        .article__1-separador{
            width: 80%;
            height: 1rem;
            position: absolute;
            top: 40%;
            left: 10%;
            background-color: red;
        }
        .article_1-label-subtitulo{
            
            display: flex;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 40%;
            
        }
        .article1_subtitulo{
            font-size: 4rem;   
        }
        .section2{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F1F1F1;
            height: 20vh;
            width: 100%;
            margin-bottom: 3vh;
            
        }
        .section2__texto{
            width: 95%;
            height: 10vh;
            font-size: 3rem;
            text-align: center;
            padding: 5px;
        }
        .section3{

            
            width: 40%;
            height: 25vh;
            
            
            background-image : url(/images/image.jpg);
            background-size: 100% 100%;
        }
        .section__4--gral{
            display: flex;
            margin-bottom: 20px;
        }
        .section4{
            width: 60%;
            margin-top: 5%;
            

        }
        .section4__titulo{
            font-size: 2.5rem;
            margin-left: 2vh;
            margin-bottom: 6vh;
            
        }
        .section4__subtitulo{
            font-size: 1rem;
            margin-left: 2vh;
            margin-bottom: 2vh;

        }
        .section4__texto{
            font-size: 1rem;
            margin-left: 2vh;
        }
        .article__card{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30vh;
            align-items: center;
            margin-bottom: 20px;
        }
        .img__card{
            width: 70%;
            height: 90%;
        }
        .texto__titulo{
            text-align: center;
        }
        .texto__imagen{
            margin-top: 20px;
            width: 200px;
            height: 200px;
        }
        .footer{
            padding: 20px;
            background-color: red;
            color: white;
        }
        .link__list{
            color: black;
            text-decoration: none;

        }

        .item__list{
            list-style: none;
            

        }
        .offcanvas.offcanvas-start {
            width: 60%;
    

        }



      }
}
