@media only screen and (min-width: 768px) and (max-width: 1400px) {
  body {
    background-color: greenyellow;
  }
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  body header {
    background-color: white;
  }
  body .navbar__principal {
    display: none;
    width: 100%;
  }
  body main {
    margin-bottom: 20px;
  }
  body .bg--gradient {
    background-color: #F7F7F7;
  }
  body .navbar__logo {
    width: 5vh;
    height: 5vh;
    background-image: url(/images/Logo-Dorado.png);
    background-size: cover;
  }
  body .navbar__titulo {
    white-space: nowrap;
    font-size: 15pt;
    font-family: "Oswald", sans-serif;
  }
  body .navbar__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  body .navbar__collapse {
    width: 100%;
  }
  body .boton--borderless {
    border: 0;
    background-color: white;
    width: 50px;
    height: 50px;
  }
  body .boton--borderless:hover {
    background-color: #e4e1d8;
  }
  body .boton__ul--borderless {
    border: 0;
    background-color: #F7F7F7;
    width: 30px;
    height: 30px;
  }
  body .boton__ul--borderless:hover {
    background-color: white;
  }
  body .section1 {
    position: relative;
  }
  body .article__1-bg {
    width: 100%;
    height: 50vh;
    background-image: url("../images/Licenses.jpg");
    background-size: 100% 100%;
    opacity: 0.5;
  }
  body .article1__label-titulo {
    position: absolute;
    top: 6%;
  }
  body .article1_titulo {
    font-size: 4rem;
    text-align: center;
  }
  body .article__1-separador {
    width: 80%;
    height: 1rem;
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: red;
  }
  body .article_1-label-subtitulo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 45%;
  }
  body .article1_subtitulo {
    font-size: 4rem;
  }
  body .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    height: 20vh;
    margin-bottom: 3vh;
  }
  body .section2__texto {
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
  }
  body .section3 {
    width: 90%;
    height: 25vh;
    margin: 0 auto;
    background-image: url(/images/image.jpg);
    background-size: 100% 100%;
  }
  body .section4 {
    margin-top: 50px;
  }
  body .section4__titulo {
    font-size: 2.5rem;
    margin-left: 2vh;
    margin-bottom: 6vh;
  }
  body .section4__subtitulo {
    font-size: 1rem;
    margin-left: 2vh;
    margin-bottom: 2vh;
  }
  body .section4__texto {
    font-size: 1rem;
    margin-left: 2vh;
  }
  body .article__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    align-items: center;
    margin-bottom: 20px;
  }
  body .img__card {
    width: 70%;
    height: 90%;
  }
  body .texto__titulo {
    text-align: center;
  }
  body .texto__imagen {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  body .footer {
    padding: 20px;
    background-color: red;
    color: white;
  }
  body .link__list {
    color: black;
    text-decoration: none;
  }
  body .item__list {
    list-style: none;
    margin-left: -1rem;
  }
  body .offcanvas.offcanvas-start {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body header {
    background-color: white;
  }
  body .nav--2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body .navbar__principal {
    margin-top: 5%;
    display: block;
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  body main {
    margin-bottom: 20px;
  }
  body .bg--gradient {
    background-color: #F7F7F7;
  }
  body .navbar__logo {
    width: 5vh;
    height: 5vh;
    background-image: url(/images/Logo-Dorado.png);
    background-size: cover;
  }
  body .navbar__titulo {
    white-space: nowrap;
    font-size: 15pt;
    font-family: "Oswald", sans-serif;
  }
  body .navbar__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  body .navbar__collapse {
    width: 100%;
  }
  body .boton--borderless {
    border: 0;
    background-color: white;
    width: 50px;
    height: 50px;
  }
  body .boton--borderless:hover {
    background-color: #e4e1d8;
  }
  body .boton__ul--borderless {
    border: 0;
    background-color: #F7F7F7;
    width: 30px;
    height: 30px;
  }
  body .boton__ul--borderless:hover {
    background-color: white;
  }
  body .section1 {
    position: relative;
    width: 100%;
  }
  body .article__1-bg {
    width: 100%;
    height: 50vh;
    background-image: url("../images/Licenses.jpg");
    background-size: 100% 100%;
    opacity: 0.5;
  }
  body .article1__label-titulo {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
  }
  body .article1_titulo {
    font-size: 4rem;
    text-align: center;
  }
  body .article__1-separador {
    width: 80%;
    height: 1rem;
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: red;
  }
  body .article_1-label-subtitulo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 40%;
  }
  body .article1_subtitulo {
    font-size: 4rem;
  }
  body .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    height: 20vh;
    width: 100%;
    margin-bottom: 3vh;
  }
  body .section2__texto {
    width: 95%;
    height: 10vh;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
  }
  body .section3 {
    width: 40%;
    height: 25vh;
    background-image: url(/images/image.jpg);
    background-size: 100% 100%;
  }
  body .section__4--gral {
    display: flex;
    margin-bottom: 20px;
  }
  body .section4 {
    width: 60%;
    margin-top: 5%;
  }
  body .section4__titulo {
    font-size: 2.5rem;
    margin-left: 2vh;
    margin-bottom: 6vh;
  }
  body .section4__subtitulo {
    font-size: 1rem;
    margin-left: 2vh;
    margin-bottom: 2vh;
  }
  body .section4__texto {
    font-size: 1rem;
    margin-left: 2vh;
  }
  body .article__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    align-items: center;
    margin-bottom: 20px;
  }
  body .img__card {
    width: 70%;
    height: 90%;
  }
  body .texto__titulo {
    text-align: center;
  }
  body .texto__imagen {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  body .footer {
    padding: 20px;
    background-color: red;
    color: white;
  }
  body .link__list {
    color: black;
    text-decoration: none;
  }
  body .item__list {
    list-style: none;
  }
  body .offcanvas.offcanvas-start {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */